body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2eeeef0;
}

h1{
    text-align: center;
}

p{
    display: block;
    margin-bottom: 10px;
    margin-left: 30px;
}

.pdf-container {
    margin: 0 auto;
    overflow: auto; /* Permite a rolagem se o PDF for maior que a altura */
}


#input{
    text-align: center;
}

#input input{
    background-color: #2A77EB;
    color:white;
    text-align: center;
    border: 1px solid #2A77EB;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
}
