body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2eeeef0;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

form{
    border: 5px solid #bababa;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

#mensagem{
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

#input{
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

#input input{
    background-color: #2A77EB;
    color:white;
    text-align: center;
    border: 1px solid #2A77EB;
    padding: 10px 20px;
    border-radius: 5px;
}
