body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2eeeef0;
}

h1{
    text-align: center;
}

h2{
    color:#2A77EB;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

p{
    display: block;
    margin-bottom: 10px;
    margin-left: 30px;
}

input {
    border: 1px solid #9b9b9b; /* Cor da borda */
    background-color: #ddd9d9; /* Cor de fundo */
}

.pdf-container {
    margin: 0 auto;
    overflow: auto; /* Permite a rolagem se o PDF for maior que a altura */
}

#maior input{
    border: 1px solid #9b9b9b; /* Cor da borda */
    background-color: #ccc; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    width: 90%; 
}

button{
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #2A77EB;
    color:white;
    border: 1px solid #2A77EB;
    padding: 10px 20px;
    border-radius: 5px;
}

#input{
    text-align: center;
}

#input input{
    background-color: #2A77EB;
    color:white;
    text-align: center;
    border: 1px solid #2A77EB;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
}