body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2eeeef0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 20px;
}

 /* Estilizando a tabela */
 table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; 
    margin-top: 20px;
  }
  
  /* Estilizando o cabeçalho */
  th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Estilizando as células de dados */
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Alterando a cor do fundo de cada linha de forma alternada */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  